$grid-gutter-width: 10px;

@import "../../../assets/styles/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

:host{
  &:nth-child(even){
    >.row{
      background-color: $table-accent-bg;
    }
  }
  &:nth-child(odd){
    >.row{
      background-color: $white;
    }
  }
}

.single-car-in-list{
  position: relative;
  @include media-breakpoint-down(lg){
    margin-top: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);
    border:1px solid $border-color;
    border-radius: $border-radius-lg;
    padding: map-get($spacers, 4) map-get($spacers, 3)!important;
  }
  @include media-breakpoint-up(xl){
    cursor: pointer;
    //transition: box-shadow .2s linear;
    @include hover-focus-active{
      box-shadow: 0 2px 7px rgba($black, .3);
      z-index: 3;
    }
  }
}

.col-title{
  display: inline-block;
  width: 200px;
}